USE [master]
GO
/****** Objeto: Database [CafeteriaDB] Fecha de script: 12/9/2026 10:37:34 ******/
CREATE DATABASE [CafeteriaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeteriaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\CafeteriaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeteriaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\CafeteriaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeteriaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeteriaDB]
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](20) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[Referencia] [varchar](50) NULL,
	[Descripcion] [varchar](300) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Teléfono] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
	[Dirección] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compra] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCompra] [varchar](20) NOT NULL,
	[IDProveedor] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[IVA] [decimal](12, 2) NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Compra] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Compra](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCompra] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Venta] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDVenta] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[IVA] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleado] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Teléfono] [varchar](15) NULL,
	[Puesto] [varchar](50) NULL,
	[Salario] [decimal](10, 2) NULL,
	[FechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Código] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripción] [varchar](300) NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Categoría] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedor] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CIoRUC] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Teléfono] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
	[Dirección] [varchar](200) NULL,
	[Ciudad] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CI] [varchar](15) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [char](1) NOT NULL,
	[Nivel] [varchar](20) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Venta] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[NroFact] [varchar](20) NOT NULL,
	[RUC_Cliente] [varchar](15) NOT NULL,
	[Total_IVA] [decimal](12, 2) NOT NULL,
	[Total_Pagar] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[MetodoPago] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditoria] ON 

INSERT [dbo].[Auditoria] ([ID], [Tabla], [Accion], [Referencia], [Descripcion], [Fecha]) VALUES (1, N'Usuario', N'Inactivación de cuenta', N'123', N'Se inactivó el usuario Marcos Samaniego', CAST(N'2026-09-03T16:42:33.010' AS DateTime))
INSERT [dbo].[Auditoria] ([ID], [Tabla], [Accion], [Referencia], [Descripcion], [Fecha]) VALUES (2, N'Usuario', N'Alta de usuario', N'321', N'Se creó el usuario Kenya Olmedo', CAST(N'2026-09-03T16:43:30.560' AS DateTime))
INSERT [dbo].[Auditoria] ([ID], [Tabla], [Accion], [Referencia], [Descripcion], [Fecha]) VALUES (3, N'Usuario', N'Cambio de rol', N'4102931', N'Nivel cambió de Admin a Usuario', CAST(N'2026-09-03T16:43:52.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID], [CI], [Nombre], [Teléfono], [Correo], [Dirección]) VALUES (1, N'4521304', N'Carlos Alberto Benítez', N'0981452103', N'carlos.benitez@gmail.com', N'Avda. Mcal. López 1420, Asunción')
INSERT [dbo].[Cliente] ([ID], [CI], [Nombre], [Teléfono], [Correo], [Dirección]) VALUES (2, N'3892105', N'María Carmen González', N'0971889201', N'mcarmen.gonzalez@hotmail.com', N'Calle Palma e/ Colón, Asunción')
INSERT [dbo].[Cliente] ([ID], [CI], [Nombre], [Teléfono], [Correo], [Dirección]) VALUES (3, N'5120938', N'Juan José Villalba', N'0991204938', N'jjvillalba@gmail.com', N'Avda. Eusebio Ayala 3200, San Lorenzo')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([ID], [NumeroCompra], [IDProveedor], [Fecha], [Subtotal], [IVA], [Total], [Estado], [Observaciones]) VALUES (1, N'CMP-00001', 1, CAST(N'2026-08-01' AS Date), CAST(450000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)), CAST(495000.00 AS Decimal(12, 2)), N'Recibida', N'Compra semanal de leche y crema')
INSERT [dbo].[Compra] ([ID], [NumeroCompra], [IDProveedor], [Fecha], [Subtotal], [IVA], [Total], [Estado], [Observaciones]) VALUES (2, N'CMP-00002', 2, CAST(N'2026-08-02' AS Date), CAST(800000.00 AS Decimal(12, 2)), CAST(80000.00 AS Decimal(12, 2)), CAST(880000.00 AS Decimal(12, 2)), N'Recibida', N'Bolsas de café espresso en grano')
INSERT [dbo].[Compra] ([ID], [NumeroCompra], [IDProveedor], [Fecha], [Subtotal], [IVA], [Total], [Estado], [Observaciones]) VALUES (3, N'CMP-00003', 4, CAST(N'2026-08-03' AS Date), CAST(300000.00 AS Decimal(12, 2)), CAST(30000.00 AS Decimal(12, 2)), CAST(330000.00 AS Decimal(12, 2)), N'Recibida', N'Harina y almidón para chipa')
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Compra] ON 

INSERT [dbo].[Detalle_Compra] ([ID], [IDCompra], [IDProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 10, CAST(10000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[Detalle_Compra] ([ID], [IDCompra], [IDProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 2, 2, 20, CAST(15000.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(12, 2)))
INSERT [dbo].[Detalle_Compra] ([ID], [IDCompra], [IDProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 3, 5, 50, CAST(5000.00 AS Decimal(10, 2)), CAST(250000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Compra] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Venta] ON 

INSERT [dbo].[Detalle_Venta] ([ID], [IDVenta], [IDProducto], [Cantidad], [Precio], [Subtotal], [IVA]) VALUES (1, 1, 2, 1, CAST(15000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(12, 2)), CAST(1363.63 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Venta] ([ID], [IDVenta], [IDProducto], [Cantidad], [Precio], [Subtotal], [IVA]) VALUES (2, 1, 5, 2, CAST(5000.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(12, 2)), CAST(909.09 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Venta] ([ID], [IDVenta], [IDProducto], [Cantidad], [Precio], [Subtotal], [IVA]) VALUES (3, 2, 3, 1, CAST(18000.00 AS Decimal(10, 2)), CAST(18000.00 AS Decimal(12, 2)), CAST(1636.36 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([ID], [CI], [Nombre], [Teléfono], [Puesto], [Salario], [FechaIngreso]) VALUES (2, N'4102931', N'Jessica María Villagra', N'0981920192', N'Cajera Principal', CAST(2905000.00 AS Decimal(10, 2)), CAST(N'2023-03-01' AS Date))
INSERT [dbo].[Empleado] ([ID], [CI], [Nombre], [Teléfono], [Puesto], [Salario], [FechaIngreso]) VALUES (3, N'4890129', N'Marcos David Samaniego', N'0991029381', N'Barista Profesional', CAST(3100000.00 AS Decimal(10, 2)), CAST(N'2023-05-10' AS Date))
INSERT [dbo].[Empleado] ([ID], [CI], [Nombre], [Teléfono], [Puesto], [Salario], [FechaIngreso]) VALUES (4, N'5102938', N'Lilian Elizabeth Florentín', N'0982102938', N'Atención al Cliente', CAST(2800000.00 AS Decimal(10, 2)), CAST(N'2023-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ID], [Código], [Nombre], [Descripción], [PrecioVenta], [Stock], [Categoría], [Activo]) VALUES (1, N'PROD-001', N'Café Espresso Tradicional', N'Café concentrado de grano seleccionado 30ml', CAST(10000.00 AS Decimal(10, 2)), 43, N'Bebidas Calientes', 1)
INSERT [dbo].[Producto] ([ID], [Código], [Nombre], [Descripción], [PrecioVenta], [Stock], [Categoría], [Activo]) VALUES (2, N'PROD-002', N'Café Cappuccino Italiano', N'Espresso con leche al vapor y espuma de leche', CAST(15000.00 AS Decimal(10, 2)), 56, N'Bebidas Calientes', 1)
INSERT [dbo].[Producto] ([ID], [Código], [Nombre], [Descripción], [PrecioVenta], [Stock], [Categoría], [Activo]) VALUES (3, N'PROD-003', N'Café Latte con Vainilla', N'Café espresso con leche condensada y esencia de vainilla', CAST(18000.00 AS Decimal(10, 2)), 41, N'Bebidas Calientes', 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([ID], [CIoRUC], [Nombre], [Teléfono], [Correo], [Dirección], [Ciudad], [Activo]) VALUES (1, N'80012345-6', N'Distribuidora Lácteos Trébol S.A.', N'021500100', N'ventas@trebol.com.py', N'Avda. Artigas 2500', N'Asunción', 1)
INSERT [dbo].[Proveedor] ([ID], [CIoRUC], [Nombre], [Teléfono], [Correo], [Dirección], [Ciudad], [Activo]) VALUES (2, N'80023456-1', N'Café Central S.R.L.', N'021610200', N'contacto@cafecentral.com.py', N'Avda. Eusebio Ayala 4100', N'Asunción', 1)
INSERT [dbo].[Proveedor] ([ID], [CIoRUC], [Nombre], [Teléfono], [Correo], [Dirección], [Ciudad], [Activo]) VALUES (3, N'80034567-8', N'Importadora El Cafetal S.A.', N'021201920', N'pedidos@elcafetal.com.py', N'Avda. Mcal. López 3200', N'San Lorenzo', 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [CI], [Nombre], [Activo], [Nivel], [Contraseña], [FechaCreacion]) VALUES (1, N'3520192', N'Gabriel Rivas', N'S', N'Admin', N'admin123', CAST(N'2026-08-19T18:41:57.933' AS DateTime))
INSERT [dbo].[Usuario] ([ID], [CI], [Nombre], [Activo], [Nivel], [Contraseña], [FechaCreacion]) VALUES (2, N'4102931', N'Jessica Villagra', N'S', N'Usuario', N'caja123', CAST(N'2026-08-19T18:41:57.933' AS DateTime))
INSERT [dbo].[Usuario] ([ID], [CI], [Nombre], [Activo], [Nivel], [Contraseña], [FechaCreacion]) VALUES (3, N'123', N'Marcos Samaniego', N'N', N'Usuario', N'123', CAST(N'2026-08-19T18:41:57.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([ID], [Fecha], [NroFact], [RUC_Cliente], [Total_IVA], [Total_Pagar], [Estado], [MetodoPago]) VALUES (1, CAST(N'2026-08-10T00:00:00.000' AS DateTime), N'001-001-0000001', N'4521304-1', CAST(2272.00 AS Decimal(12, 2)), CAST(25000.00 AS Decimal(12, 2)), N'Anulada', NULL)
INSERT [dbo].[Venta] ([ID], [Fecha], [NroFact], [RUC_Cliente], [Total_IVA], [Total_Pagar], [Estado], [MetodoPago]) VALUES (2, CAST(N'2026-08-11T00:00:00.000' AS DateTime), N'001-001-0000002', N'3892105-0', CAST(2727.00 AS Decimal(12, 2)), CAST(30000.00 AS Decimal(12, 2)), N'Activa', NULL)
INSERT [dbo].[Venta] ([ID], [Fecha], [NroFact], [RUC_Cliente], [Total_IVA], [Total_Pagar], [Estado], [MetodoPago]) VALUES (3, CAST(N'2026-08-11T00:00:00.000' AS DateTime), N'001-001-0000003', N'5120938-2', CAST(4090.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)), N'Activa', NULL)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Cliente__32149A7AC1B1EA34] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[CI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Compra__5F9B8DECB1BB6E48] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Compra] ADD UNIQUE NONCLUSTERED 
(
	[NumeroCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_Compra_Fecha] Fecha de script: 12/9/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_Compra_Fecha] ON [dbo].[Compra]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_Compra_IDProveedor] Fecha de script: 12/9/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_Compra_IDProveedor] ON [dbo].[Compra]
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_Detalle_Compra_IDCompra] Fecha de script: 12/9/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_Detalle_Compra_IDCompra] ON [dbo].[Detalle_Compra]
(
	[IDCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_Detalle_Compra_IDProducto] Fecha de script: 12/9/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_Detalle_Compra_IDProducto] ON [dbo].[Detalle_Compra]
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Empleado__32149A7AC6AB7ED4] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Empleado] ADD UNIQUE NONCLUSTERED 
(
	[CI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Producto__D68C8CB0CD1B80E4] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Producto] ADD UNIQUE NONCLUSTERED 
(
	[Código] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Proveedo__5DF56545B8A92469] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[CIoRUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__32149A7A7F442F55] Fecha de script: 12/9/2026 10:37:35 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[CI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((0)) FOR [IVA]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [Total_IVA]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [Total_Pagar]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([ID])
GO
ALTER TABLE [dbo].[Detalle_Compra]  WITH CHECK ADD FOREIGN KEY([IDCompra])
REFERENCES [dbo].[Compra] ([ID])
GO
ALTER TABLE [dbo].[Detalle_Compra]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Producto] ([ID])
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Producto] ([ID])
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Venta] ([ID])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD CHECK  (([Estado]='Cancelada' OR [Estado]='Recibida' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([Activo]='N' OR [Activo]='S'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([Nivel]='Usuario' OR [Nivel]='Admin'))
GO
/****** Objeto: StoredProcedure [dbo].[spu_AltaCliente] Fecha de script: 12/9/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spu_AltaCliente] 
@CI VARCHAR(20), 
@Nombre VARCHAR(100), 
@Telefono VARCHAR(20), 
@Correo VARCHAR(100), 
@Direccion VARCHAR(200) 
AS 
BEGIN TRY 
BEGIN TRAN 
INSERT INTO Cliente 
(CI, Nombre, [Teléfono], Correo, [Dirección]) 
VALUES (@CI, @Nombre, @Telefono, @Correo, @Direccion) 
COMMIT 
END 
TRY BEGIN CATCH 
ROLLBACK PRINT ERROR_MESSAGE() 
END 
CATCH 
GO
USE [master]
GO
